@import url('https://vetrivelcsamy.github.io/cheltenham-classic/cheltenhamclassic.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'cheltenhamclassic', Georgia, serif;
  background: #fafafa;
  color: #1a1a1a;
  max-width: 42%;
  margin: 0 auto;
}

.Header {
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #1a1a1a;
}

.HeaderTwo {
  border-bottom: 1px solid #1a1a1a;
}

.Time {
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  border-bottom: 1px solid #1a1a1a;
  color: #555;
  display: flex;
  gap: 66%;
}

.News {
  margin-top: 20px;
}

.Article {
  display: flex;
  gap: 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #1a1a1a;
  transition: background 0.2s;
  cursor:pointer;
}

.Article:hover {
  background: #dedede;
}

.ArticleImg {
  width: 160px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
}

.ArticleText h2 {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: 6px;
}

/* make some styling changes due to api */
.ArticleText p {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}
/*mobile responsiveness */
@media (max-width: 500px) {
  body {
    max-width: 100%;
    padding: 15px;
  }
  
  .Header {
    font-size: 1.8rem;
  }
  
  .Article {
    flex-direction: column;
  }
  
  .ArticleImg {
    width: 100%;
    height: 100px;
  }
}